h1 {
	background-color: #e7dd46;
	color: black;
}
body {
	background-image: url(https://img.freepik.com/photos-gratuite/homme-cool-tatouages-ultra-trail-runner_346278-117.jpg?w=1380&t=st=1710510718~exp=1710511318~hmac=84f426c2ae71b28945e242511843057116281065af813c5cf891a8eb3c8b9a11);

